@import "tailwindcss";

@theme {
  /* 
     This tells Tailwind: 
     "When I type 'font-sans', use the var(--font-inter) variable."
     "When I type 'font-amarante', use the var(--font-amarante) variable."
  */
  --font-amarante: var(--font-amarante), serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: #101418; /* Deep Obsidian */
  color: #f8f9fa; /* Tech White */
}
/* Hide scrollbar for clean horizontal scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
